
<!-- MODAL -->

<div id="orderModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" target="_blank" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Ttulo modal <span
                            class="nombreArchivoModal"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Parrafo <b><i><span class="nombreArchivoModal"></span></i></b></p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-nombre"><b>Primer input</b></span>
                        </div>
                        <input readonly type="text" id="nombreArchivoForm" name="nombre" class="form-control"
                               aria-describedby="basic-addon-nombre">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-secreto"><b>Segundo input</b></span>
                        </div>
                        <input type="password" name="secreto" class="form-control"
                               aria-describedby="basic-addon-secreto" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit button</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------- -->

<!-- Tabla -->

<table id="example1" class="table table-bordered text-center"
       style="width: 100%; display: table !important;">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha subida</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="#"></a></td>
        <td></td>
    </tr>
    </tbody>
</table>
<script>
    $(function () {
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "acentos-compare-asc": function (s1, s2) {
                return s1.localeCompare(s2);
            },
            "acentos-compare-desc": function (s1, s2) {
                return s2.localeCompare(s1);
            }
        });
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    })
</script>


<!-- ---------------------------------------------------------------------------------------------------------------- -->

<!-- Subida de ficheros fixed -->

<script>
    $("#inputGroupFile").on("change", function () {
        var fileName = $(this).val().replace(/^.*\\/, "");
        $(this).next(".custom-file-label").html(fileName);
    });
</script>
